{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Customers</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link rel="stylesheet" href="{% static 'customers/css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fa fa-bars"></i>
		</label>
		<label class="logo">Sparks Banking System</label>
		<ul>
			<li><a href="{% url 'home'%}">Home</a></li>
			<li><a class="active" href="{% url 'cust'%}">Customers</a></li>
			<li><a href="{% url 'trans'%}">Transaction</a></li>
		</ul>
	</nav>
	<label class="heading"> Basic Banking System</label><br>
	{% if messages %}
	  {% for message in messages %}
	  <p {% if message.tags %} class='{{ message.tags}}' {% endif %}>{{message}}</p>
	  {% endfor %}
	{% endif %}
	<aside>
	<div class="center">
		<h2 class="t2">SEND MONEY</h2>
		<form method="POST">{% csrf_token %}
		<div class="text-field">
			<label>Email</label>
			<input type="Email" name="senemail" placeholder="Enter your Email">
		</div>
		<div class="text-field">
			<label>Amount</label>
			<input type="text" name="amt" placeholder="Enter Amount">
		</div>
			<select id="email" name="email">
				<option value="chinnijain168@gmail.com">Select Reciever Email</option>
				{% for i in customers %}
				<option value="{{i.email}}">{{i.name}}</option>
				{% endfor %}

			</select><br>
			<input type="submit" name="submit" value="SEND">
		</form>
	</div>

	</aside>
	<section>
		<DIV style="text-align:center;"><label class="t1" >Customer Details</label></DIV>
		<table class="table1">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Acc. Bal</th>
				</tr>
			</thead>
			<body>
				{% for i in customers %}
				<tr>
					<td>{{i.id}}</td>
					<td>{{i.name}}</td>
					<td>{{i.email}}</td>
					<td>₹{{i.avail_bal}}</td>
				</tr>
				{% endfor %}
			</body>

		</table>
	</section>