{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home TSF</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link rel="stylesheet" href="{% static 'customers/css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body{
				background-image:url({% static 'customers/img/1.jpeg' %});
				background-repeat: no-repeat;
				background-size: cover;
				background-attachment: fixed;
				background-attachment: fixed;
				background-size: 100% 100%;
		
		}
	</style>
</head>
<body >
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fa fa-bars"></i>
		</label>
		<label class="logo">Basic Banking System</label>
		<ul>
			<li><a class="active" href="{% url 'home'%}">Home</a></li>
			<li><a href="{% url 'cust'%}">Customers</a></li>
			<li><a href="{% url 'trans'%}">Transaction</a></li>
		</ul>
	</nav>
	<section>
		<label class="heading">Basic Banking System</label>
		<p class="p1"> “Banking is very good business<br>if you don't do anything dumb.”</p>
		<label class="writter">~ Thomas Jann</label>
	</section>
	

</body>
</html>