{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Transections</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link rel="stylesheet" href="{% static 'customers/css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fa fa-bars"></i>
		</label>
		<label class="logo">Basic Banking System</label>
		<ul>
			<li><a href="{% url 'home'%}">Home</a></li>
			<li><a  href="{% url 'cust'%}">Customers</a></li>
			<li><a class="active" href="{% url 'trans'%}">Transaction</a></li>
		</ul>
	</nav>
	<section>
		<label class="heading"> Basic Banking System</label><br>
		<DIV style="text-align:center;"><label class="t1" >Transaction Details</label></DIV>
		<table class="table1">
			<thead>
				<tr>
					<th>SNO.</th>
					<th>Name</th>
					<th>Email</th>
					<th>Amount Debited</th>
					<th>Amount Credited</th>
					<th>Account Balance</th>
				</tr>
			</thead>
			<body>
				{% for i in trans %}
				<tr>
					<td>{{i.id}}</td>
					<td>{{i.name}}</td>
					<td>{{i.email}}</td>
					<td>{{i.debit_amt}}</td>
					<td>{{i.credit_amt}}</td>
					<td>₹{{i.account_bal}}</td>
				</tr>
				{% endfor %}
			</body>

		</table>
		<button id="Refresh"><a href="{% url 'trans' %}"> Refresh </a></button>
	</section>
	

</body>
</html>